.task {
    background-color: lightgrey;
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;

    &__reminder {
       display: flex;
       align-items: center;
       justify-content: space-between;
    }

    &__border {
      border-left: 5px solid green;
    }
}

.border {
    border-left: 5px solid green;
}