
<div style="border: solid 1px red; padding: 20px">
  <header>
    <h1> {{ name }} {{ title }} </h1>
  
    <!-- <button (click)="navigate()"> Navigate to First </button> -->

    <app-header></app-header>
    <app-tasks></app-tasks>
  
    <!-- <router-outlet></router-outlet> -->
  </header>
  
  <section>
    <app-home 
      [ninja]="ninja"
      [firstName]="robertaProp"
      [lastName]="lastName"
      [siblings]="siblings"
      (onYell)="yell($event)"
    > 
    </app-home>
  </section>

</div>




