<p> {{ homeTitle }}</p>

<ng-content></ng-content>

<!-- property binding  1st way -->
<!-- <input [value]="myString" /> 
<input [required]="myBoolean" /> -->

<!-- property binding  2nd way -->
<!-- <input value="{{ myString }}" /> 
<input required=" {{ myBoolean }} " /> -->

<button (click)="alertMe('Hey I woork!')"> Click me </button>


<label for="name">Name: </label> 
<input [(ngModel)]="ninja.name">
<p> {{ ninja.name }}</p>


<label for="belt">Belt: </label>
<input [(ngModel)]="ninja.belt">
<p> {{ ninja.belt }}</p>



