<p> {{ homeTitle }}</p>

<p>{{ninja.name}}</p>
<p>{{ninja.belt}}</p>



<div style="border: solid 1px black; padding: 10px">
    <p> HOME COMPONENT</p>
    <br>
    First Name: {{ firstName }}
    <br>
    Last Name: {{ lastName }}
    <br>
    Siblings:
    <br>
    <span *ngFor="let sibling of siblings"> 
        {{ sibling }} <br>.
    </span>

    <button (click)="fireYellEvent($event)"> Click me!</button>

    <nav>
        <h2>Routing: </h2>
        <ul>
          <li><a routerLink="/first" routerLinkActive="active">First Component</a></li>
          <li><a routerLink="/second" routerLinkActive="active">Second Component</a></li>
        </ul>
    </nav>

    <app-child
    [fullName]="JulioName"
    >

    </app-child>
</div>



  <router-outlet></router-outlet>


<!-- <ng-content></ng-content> -->

<!-- property binding  1st way -->
<!-- <input [value]="myString" /> 
<input [required]="myBoolean" /> -->

<!-- property binding  2nd way -->
<!-- <input value="{{ myString }}" /> 
<input required=" {{ myBoolean }} " /> -->

<!-- <button (click)="alertMe('Hey I woork!')"> Click me </button> -->


<!-- <label for="name">Name: </label> 
<input [(ngModel)]="ninja.name">
<p> {{ ninja.name }}</p>


<label for="belt">Belt: </label>
<input [(ngModel)]="ninja.belt">
<p> {{ ninja.belt }}</p> -->



